*{
    margin: 0px;
    padding: 0px;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
    font-family:'Poppins';
}

.container{
    background:linear-gradient(rgb(47, 129, 47), rgb(117, 117, 8));
    padding: 15px 10px;
}

.container .heading
{
    text-align: center;
    color:white;
    font-size: 50px;
    padding-bottom: 15px;
}

.container .box-container{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;    

    padding:50px;

}



.container .box-container .box{
    background-color:rgb(246, 229, 208);
    border-radius: 5px;
    text-align: center;
    padding: 30px 30px;
    box-shadow: 0.5px 5px rgb(0, 0, 0,.2);
}

.container .box-container .box:hover{
    transform: scale(1.03);

}
.container .box-container .box img{
    width: 80px;
}
.container .box-container .box .btn{
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(67, 95, 231);
    background-color:white;
    padding: 10px 30px;
    border-radius: 15px;
    

}
.container .box-container .box h3{
    color:crimson;
    font-size: 20px;
    padding-bottom:10px;
}
.container .box-container .box p{
    text-align: center;
    font-size: 15px;
    padding-bottom: 15px;
    line-height: 1.8;

}